@layer presets {
  :root {
    display: grid;
    min-height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    font-family: Arial, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    white-space: pre-wrap;
    white-space-collapse: preserve
  }
  a.w-element {
    box-sizing: border-box
  }
  body.w-element {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0
  }
  button.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  code.w-element {
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 1em;
    box-sizing: border-box
  }
  div.w-element {
    box-sizing: border-box
  }
  figure.w-element {
    box-sizing: border-box
  }
  footer.w-element {
    box-sizing: border-box
  }
  form.w-element {
    box-sizing: border-box
  }
  h1.w-element {
    box-sizing: border-box
  }
  h2.w-element {
    box-sizing: border-box
  }
  h3.w-element {
    box-sizing: border-box
  }
  h4.w-element {
    box-sizing: border-box
  }
  h5.w-element {
    box-sizing: border-box
  }
  header.w-element {
    box-sizing: border-box
  }
  input.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin: 0
  }
  label.w-element {
    box-sizing: border-box
  }
  li.w-element {
    box-sizing: border-box
  }
  main.w-element {
    box-sizing: border-box
  }
  nav.w-element {
    box-sizing: border-box
  }
  ol.w-element {
    box-sizing: border-box
  }
  p.w-element {
    box-sizing: border-box
  }
  section.w-element {
    box-sizing: border-box
  }
  select.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    text-transform: none;
    margin: 0
  }
  span.w-element {
    box-sizing: border-box
  }
  strong.w-element {
    font-weight: 700;
    box-sizing: border-box
  }
  textarea.w-element {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    box-sizing: border-box;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    margin: 0
  }
  ul.w-element {
    box-sizing: border-box
  }
  div.w-html-embed {
    display: contents;
    white-space: normal;
    white-space-collapse: collapse
  }
  img.w-image {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
    height: auto
  }
}
@media all {
  .c4gouwl {
    height: 100%
  }
  .c1kuwk32 {
    width: 100%
  }
  :root {
    --base-color--true-white: white;
    --base-color--true-black: #000000;
    --base-color--brand-primary: #12a89d;
    --base-color--star-yellow: #ffa726;
    --base-color--grey-light: #eeeeee;
    --base-color--brand-lighter: #ebfbff;
    --base-color--grey-primary: #555759;
    --base-color--brand-darker: #37937e;
    --background-color: white;
    --base-color--overlay: #00000099;
    --base-color--grey-lighter: #c6c8ca;
    --relume-library-lite--rl-black: black;
    --relume-library-lite--rl-white: white;
    --button--border-color: white;
    --button--label-color: white;
    --button--background-color: white;
    --button--border-color-hover: white;
    --button--label-color-hover: white;
    --button--background-color-hover: white;
    --change-logo-height: 2.5em
  }
  .c1vd2j6y {
    height: 0px
  }
  .c1ungi45 {
    opacity: 0
  }
  .c1ilrpex {
    position: absolute
  }
  .cgakeqw {
    z-index: -1
  }
}